.loginMain {
  grid-template-rows: 2fr 1fr 50px;
}
.IDPW,
.wannaJoin {
  margin: 10px 40px 10px 40px;
}

.IDPW {
    padding-top : 150px;
    display:grid;
    grid-template-rows:70px 70px 40px;
}

.loginbutton{
    color : white;
    border-radius : 10px;
}

.wannaJoin {
  display: grid;
  grid-template-columns: 4fr 1fr;
  font-size: 0.8rem;
  font-weight: bold;
}
